/* workarounds for bugs in that piece of shit also known as Internet Explorer */
#game .players {
	z-index: 3;
}
#overview .obg {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}