#game {
	position: absolute;
	width: 690px;
	height: 604px;
}
#game div {
	position: absolute;
}
#loading {
	width: 100%;
	text-align: center;
	padding-top: 250px;
	z-index: 99;
}
.pspace .content {
	height: 630px;
}
.element {
	background: url(/gfx/game/elements.png) no-repeat;
}
.onLoad {
	display: none;
}


/*** players ***/
#game .players {
	height: 100%;
	width: 100%;
}
/* common classes */
#game .card {
	display: none;
	-webkit-transition-property: top, left, right, bottom;
	-webkit-transition-duration: .4s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-property: top, left, right, bottom;
	-moz-transition-duration: .4s;
	-moz-transition-timing-function: ease-out;
	-o-transition-property: top, left, right, bottom;
	-o-transition-duration: .4s;
	-o-transition-timing-function: ease-out;
}
#game .card div {
	-webkit-transition-property: top, left;
	-webkit-transition-duration: .4s;
	-moz-transition-property: top, left;
	-moz-transition-duration: .4s;
	-o-transition-property: top, left;
	-o-transition-duration: .4s;
}
#game .card .front {
	display: none;
}
#game .card.stack {
	/* -webkit-transform: rotate(180deg); */
}
#game .players .area .name {
	font-size: 17px;
	color: #ffffff;
	text-shadow: #000000 1px 1px 4px;
	font-weight: bold;
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
	-o-transition: color .5s;
}
#game .players .area .name.turn {
	color: #ff0000;
}
#game .players .out .area .name {
	text-decoration: line-through;
}
#game .players .area .flag {
	font-size: 12px;
	color: #ffffff;
}
#game .players .cards {
	z-index: 3;
}
#game .players .area {
	visibility: hidden;
	z-index: 1;
	background: url(/gfx/game/areas.png) no-repeat;
	-webkit-transition-property: top, left, right, bottom;
	-webkit-transition-duration: .5s;
	-moz-transition-property: top, left, right, bottom;
	-moz-transition-duration: .5s;
	-o-transition-property: top, left, right, bottom;
	-o-transition-duration: .5s;
}
#game .players .knocked {
	width: 87px;
	height: 91px;
	z-index: 11;
	-webkit-transition-property: top, left, right, bottom;
	-webkit-transition-duration: .4s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-property: top, left, right, bottom;
	-moz-transition-duration: .4s;
	-moz-transition-timing-function: ease-out;
	-o-transition-property: top, left, right, bottom;
	-o-transition-duration: .4s;
	-o-transition-timing-function: ease-out;
}
#game .players .knocked div {
	background-position: 0px -188px;
	top: 0px;
	width: 70px;
	height: 44px;
	-webkit-transition: top .1s ease-in;
	-moz-transition: top .1s ease-in;
	-o-transition: top .1s ease-in;
	text-align: center;
	padding-top: 17px;
	padding-right: 5px;
	font-size: 15px;
	color: #ffffff;
	text-shadow: #000000 1px 1px 2px;
	visibility: hidden;
}
#game .players .knocked .down {
	top: 30px;
}

/** horizontal **/
#game .players .horizontal {
	height: 285px;
	width: 100%;
}
#game .players .horizontal .card {
	width: 95px;
	height: 130px;
}
#game .players .horizontal .card div {
	width: 75px;
	height: 110px;
}
#game .players .horizontal .area .name {
	left: 10px;
}

/** bottom **/
#game .players .bottom {
	bottom: 0px;
}
#game .players .bottom .cards {
	left: 260px;
	bottom: 7px;
	height: 100%;
}
#game .players .bottom .card {
	left: 0px;
}
#game .players .bottom .card div {
	bottom: 0px;
}
#game .players .bottom .knocked {
	bottom: 130px;
	left: 450px;
}
#game .players .bottom .knocked.down {
	bottom: 20px;
	left: 190px;
}
#game .players .bottom .area {
	bottom: 100px;
	left: 107px;
	background-position: -306px -136px;
	width: 475px;
	height: 136px;
}
#game .players .bottom .area.shown {
	bottom: 0px;
}
#game .players .bottom .area .name {
	bottom: 55px;
	left: 370px;
	font-size: 17px;
}
#game .players .bottom .area .flag {
	bottom: 42px;
	left: 373px;
}
#game .players .bottom .actions {
	bottom: 0px;
	left: 112px;
	z-index: 4;
}
#game .players .bottom .actions div {
	cursor: pointer;
	display: none;
}
#game .players .bottom .activeKnock {
	bottom: 3px;
	width: 146px;
	height: 80px;
	cursor: auto !important;
}
#game .players .bottom .activeKnock div {
	display: block;
}
#game .players .bottom .activeKnock .info {
	left: 0px;
	color: #e9e9e9;
	font-size: 12px;
	cursor: auto;
}
#game .players .bottom .activeKnock .fold {
	bottom: 0px;
	width: 96px;
	height: 30px;
	left: 0px;
}
#game .players .bottom .activeKnock .call {
	left: 11px;
	bottom: 37px;
	background-position: 0px -161px;
	width: 83px;
	height: 27px;
}
#game .players .bottom .knock {
	left: 0px;
	bottom: 35px;
	background-position: 0px -250px;
	width: 126px;
	height: 38px;
}
#game .players .bottom .blindKnock {
	left: 0px;
	bottom: 30px;
	height: 45px;
}
#game .players .bottom .blindKnock div {
	display: block;
}
#game .players .bottom .blindKnock .number {
	left: 0px;
	z-index: 4;
	top: 9px;
}
#game .players .bottom .blindKnock .btn {
	left: 25px;
	background-position: 0px -124px;
	width: 114px;
	height: 36px;
}
#game .players .bottom .blindKnock img {
	vertical-align: middle;
}
#game .players .bottom .flipHand {
	left: 148px;
	bottom: 20px;
	width: 207px;
	height: 84px;
	background-position: 0px -30px;
}
#game .players .bottom .flipHand:active {
	left: 151px;
	bottom: 19px;
}
/* cards */
#game .bottom .card div {
	background: url(/gfx/game/cards_bottom.png);
}
#game .bottom .card .back {
	background-position: 0px -440px;
}
#game .bottom .hand.active {
	-webkit-transition: bottom .1s ease-out;
	-moz-transition: bottom .1s ease-out;
	-o-transition: bottom .1s ease-out;
	width: 75px;
	height: 110px;
}
#game .bottom .hand.active:hover {
	bottom: 10px;
	z-index: 10;
}
#game .bottom .hand .front {
	cursor: pointer;
}
#game .bottom .card.stack {
	bottom: 130px;
	left: 40px !important;
}
#game .bottom .card.hand {
	bottom: 0px;
}
#game .bottom .card.folded {
	bottom: 0px;
	left: 21px !important;
}

/** top **/
#game .players .top {
	top: 0px;
}
#game .players .top .cards {
	top: 4px;
	left: 300px;
}
#game .players .top .knocked {
	top: 110px;
	left: 220px;
}
#game .players .top .knocked.down {
	top: -20px;
	left: 230px;
}
#game .players .top .area {
	left: 185px;
	background-position: -306px 0px;
	width: 331px;
	height: 112px;
	top: 100px;
}
#game .players .top .area.shown {
	top: 0px;
}
#game .players .top .area .name {
	top: 8px;
	width: 118px;
}
#game .players .top .area .flag {
	top: 30px;
	width: 118px;
	left: 13px;
}
/* cards */
#game .top .card div {
	background: url(/gfx/game/cards_top.png);
}
#game .top .card .back {
	background-position: -525px 0px;
}
#game .top .card.hand {
	top: 0px;
}
#game .top .card.stack {
	top: 130px;
	left: 0px !important;
}
#game .top .card.folded {
	left: 24px !important;
}

/** vertical **/
#game .players .vertical {

}
#game .players .vertical .area {
	width: 153px;
	height: 272px;
	top: 160px;
}
#game .players .vertical .cards {
	top: 215px;
}
#game .players .vertical .card {
	width: 130px;
	height: 95px;
}
#game .vertical .card div {
	width: 110px;
	height: 75px;
}
#game .players .vertical .card.stack {
	top: 40px !important;
}
#game .players .vertical .card.folded {
	top: 60px !important;
}
#game .players .vertical .name {
	top: 7px;
}
#game .players .vertical .flag {
	top: 28px;
}

/** left **/
#game .players .left {
	left: 0px;
}
#game .players .left .knocked {
	top: 320px;
	left: 130px;
}
#game .players .left .knocked.down {
	top: 180px;
	left: 0px;
}
#game .players .left .cards {
	left: 5px;
}
#game .players .left .area {
	left: 100px;
}
#game .players .left .area.shown {
	left: 0px;
}
#game .players .left .area .name {
	left: 8px;
}
#game .players .left .area .flag {
	left: 12px;
}
/* cards */
#game .left .card div {
	background: url(/gfx/game/cards_left.png);
}
#game .left .card.hand {
	left: 0px;
}
#game .left .card.stack {
	left: 160px;
}

/** right **/
#game .players .right {
	right: 0px;
}
#game .players .right .knocked {
	top: 150px;
	right: 120px;
}
#game .players .right .knocked.down {
	top: 180px;
	right: 0px;
}
#game .players .right .cards {
	right: 6px;
}
#game .players .right .card div {
	right: 0px;
}
#game .players .right .area {
	right: 100px;
	background-position: -153px 0px;
}
#game .players .right .area.shown {
	right: 0px;
}
#game .players .right .area div {
	text-align: right;
}
#game .players .right .area .name {
	right: 8px;
}
#game .players .right .area .flag {
	right: 12px;
}
/* cards */
#game .right .card div {
	background: url(/gfx/game/cards_right.png);
}
#game .right .card .back {
	background-position: -440px -525px;
}
#game .right .card.stack {
	right: 152px;
	top: 200px;
}
#game .right .card.folded {
	right: 0px;
}
#game .right .card.hand {
	right: 0px;
}


/*** table ***/
#game .table {
	top: 37px;
	left: 50px;
	width: 589px;
	height: 515px;
	background: url(/gfx/game/table.png) no-repeat;
	z-index: 2;
}


/*** panel ***/
#panel {
	position: absolute;
	top: 50px;
	right: 0px;
	width: 307px;
	z-index: 10;
}
#panel div {
	position: absolute;
}
#panel .head {
	width: 100%;
	text-align: center;
	padding-top: 22px;
	font-size: 15px;
}
/* common classes */
#panel .box {
	background: url(/gfx/game/boxes.png) no-repeat;
	width: 100%;
}
#panel table {
	width: 100%;
	border-collapse: collapse;
}

/** log **/
#panel #log {
	top: 253px;
	width: 100%;
	height: 234px;
	background-position: 0px -233px;
}
#panel #log .entries {
	top: 54px;
	left: 26px;
	font-size: 13px;
	height: 130px;
	width: 251px;
	overflow: auto;
	font-size: 12px;
}
#panel #log .entries div {
	position: relative;
	color: #999999;
}
#panel #log .entries .message {
	color: #000000;
}
#panel #log .input {
	bottom: 17px;
	left: 39px;
}
#panel #log .input input {
	width: 239px;
	height: 13px;
	padding: 0px;
	background: transparent;
	border: none;
}
input.inactive {
	font-style: italic;
	color: #cccccc;
}

/** strikes **/
#panel #strikes {
	display: none;
	height: 233px;
	width: 100%;
}
#panel #strikes .space {
	color: #ffffff;
	top: 54px;
	left: 22px;
	width: 265px;
	height: 155px;
}
#panel #strikes table {
	width: 238px;
}
#panel #strikes table td {
	text-align: center;
	border-left: 2px #363636 solid;
	padding: 0px;
}
#panel #strikes table td.round {
	width: 17%;
}
#panel #strikes table td.player {
	width: 20%;
}
#panel #strikes .sTable td.round {
	font-size: 14px;
}
#panel #strikes .sTable .strikesCon {
	position: relative;
	height: 20px;
	margin-top: 2px;
	margin-left: 2px;
	top: 0px;
}
#panel #strikes table td.quit {
	text-decoration: line-through;
}
#panel #strikes table td:first-child {
	border-left: none;
}
#panel #strikes .sTable table tr {
	border-top: 2px #363636 solid;
	height: 24px;
}
#panel #strikes table tr:first-child {
	border-top: none;
}
#panel #strikes table.top {
	border-bottom: 2px #363636 solid;
	font-size: 12px;
}
#panel #strikes .sTable {
	height: 95%;
	width: 100%;
	overflow: auto;
}
#panel #strikes .strike {
	position: absolute;
	width: 4px;
	height: 100%;
}
#panel #strikes .strike.cross {
	width: 27px;
	left: 1px;
	background-position: -172px -188px;
}
#panel #quit {
	background-position: 0px -288px;
	width: 169px;
	height: 32px;
	top: 505px;
	right: 30px;
	cursor: pointer;
}

/** overview **/
#overview {
	position: absolute;
	width: 400px;
	min-height: 230px;
	left: 145px;
	top: 170px;
	z-index: 11;
	color: #ffffff;
}
#overview .obg {
	position: absolute;
	background: #000000;
	width: 100%;
	height: 100%;
	top: 0px;
	z-index: -1;
	opacity: 0.5;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
#overview table {
	width: 100%;
}
#overview .head {
	margin: 12px;
}
#overview .space {
	margin: 10px;
	font-size: 14px;
}
#overview ul {
	margin: 0px;
	padding: 0px;
}
#overview tr td:first-child {
	vertical-align: top;
	font-weight: bold;
}
#overview .actions {
	margin-top: 10px;
	font-size: 12px;
}
#overview .btn {
	cursor: pointer;
	float: right;
	margin: 5px;
}
#overview .actions, #overview .actions div {
	display: none;
}
#overview #startGame .startBtn {
	background-position: 0px -338px;
	width: 138px;
	height: 26px;
	display: block;
}
#overview #startRound .newRound {
	background-position: 0px -320px;
	width: 126px;
	height: 18px;
}