#game {
	position: absolute;
	width: 869px;
	height: 664px;
	top: -20px;
	left: 58px;
}
#game div {
	position: absolute;
}
#game #loading {
	background: #ffffff;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 300px;
	z-index: 99;
}
.pspace .content {
	height: 1000px;
}
.action {
	background: url(/gfx/game/actions.png) no-repeat;
}


/*** players ***/
#game .players {
	height: 100%;
	width: 100%;
}
/* common classes */
#game .card {
	z-index: 2;
	display: none;
}
#game .card div {
	-webkit-transition-property: top, left;
	-webkit-transition-duration: .4s;
}
#game .card .front {
	display: none;
}
#game .card {
	-webkit-transition-property: -webkit-transform, top, left, right, bottom;
	-webkit-transition-duration: .3s, .4s, .4s, .4s, .4s;
	-webkit-transition-timing-function: ease-out, ease-out, ease-out, ease-out, ease-out;
}
#game .card.stack {
	/* -webkit-transform: rotate(180deg); */
}
#game .players .area .name {
	font-size: 18px;
	color: #ffffff;
	text-shadow: #000000 1px 1px 4px;
	z-index: 4;
	font-weight: bold;
	-webkit-transition-property: color;
	-webkit-transition-duration: .5s;
}
#game .players .area .name.turn {
	color: #ff0000;
}
#game .players .out .area .name {
	text-decoration: line-through;
}
#game .players .area .flag {
	font-size: 12px;
	color: #ffffff;
}
#game .players .area {
	z-index: 1;
	background: url(/gfx/game/areas.png) no-repeat;
	-webkit-transition-property: top, left, right, bottom;
	-webkit-transition-duration: .5s;
}
#game .players .knocked {
	width: 87px;
	height: 101px;
	z-index: 11;
	display: none;
	-webkit-transition-property: top, left, right, bottom;
	-webkit-transition-duration: .4s;
	-webkit-transition-timing-function: ease-out;
}
#game .players .knocked div {
	background-position: 0px -207px;
	top: 0px;
	width: 82px;
	height: 51px;
	-webkit-transition-property: top;
	-webkit-transition-duration: .1s;
	-webkit-transition-timing-function: ease-in;
	text-align: center;
	padding-top: 20px;
	padding-right: 5px;
	font-size: 16px;
	color: #ffffff;
	text-shadow: #000000 1px 1px 2px;
}
#game .players .knocked .down {
	top: 30px;
}

/** horizontal **/
#game .players .horizontal {
	height: 285px;
	width: 100%;
}
#game .players .horizontal .card {
	width: 127px;
	height: 169px;
}
#game .players .horizontal .card div {
	width: 87px;
	height: 129px;
}
#game .players .horizontal .area .name {
	left: 10px;
}

/** bottom **/
#game .players .bottom {
	bottom: 0px;
}
#game .players .bottom .cards {
	left: 370px;
	bottom: 7px;
	height: 100%;
}
#game .players .bottom .card {
	left: 0px;
}
#game .players .bottom .card div {
	bottom: 0px;
}
#game .players .bottom .knocked {
	bottom: 160px;
	left: 500px;
}
#game .players .bottom .knocked.down {
	bottom: 10px;
	left: 280px;
}
#game .players .bottom .area {
	bottom: 100px;
	left: 123px;
	background-position: -297px -135px;
	width: 625px;
	height: 151px;
}
#game .players .bottom .area.shown {
	bottom: 0px;
}
#game .players .bottom .area .name {
	bottom: 60px;
	left: 490px;
	font-size: 19px;
}
#game .players .bottom .area .flag {
	bottom: 47px;
	left: 493px;
}
#game .players .bottom .area .chat {
	bottom: 14px;
	right: 6px;
}
#game .players .bottom .area .chat input {
	width: 108px;
	height: 22px;
	background-position: 0px -343px;
	border: none;
	padding-left: 20px;
	padding-right: 6px;
	padding-top: 2px;
}
#game .players .bottom .actions {
	bottom: 0px;
	left: 128px;
	z-index: 3;
}
#game .players .bottom .actions div {
	cursor: pointer;
	display: none;
}
#game .players .bottom .activeKnock {
	bottom: 18px;
	width: 240px;
	height: 60px;
	cursor: auto !important;
}
#game .players .bottom .activeKnock div {
	display: block;
}
#game .players .bottom .activeKnock .info {
	left: 5px;
	color: #e9e9e9;
	font-size: 14px;
	cursor: auto;
}
#game .players .bottom .activeKnock .fold {
	bottom: 0px;
	width: 120px;
	height: 39px;
	left: 0px;
}
#game .players .bottom .activeKnock .call {
	left: 130px;
	bottom: 0px;
	background-position: 0px -167px;
	width: 100px;
	height: 40px;
}
#game .players .bottom .knock {
	left: 0px;
	bottom: 35px;
	background-position: 0px -121px;
	width: 152px;
	height: 45px;
}
#game .players .bottom .blindKnock {
	left: 0px;
	bottom: 40px;
	height: 45px;
}
#game .players .bottom .blindKnock div {
	display: block;
}
#game .players .bottom .blindKnock .number {
	left: 0px;
	z-index: 4;
	top: 12px;
}
#game .players .bottom .blindKnock .btn {
	left: 25px;
	background-position: 0px -76px;
	width: 223px;
	height: 44px;
}
#game .players .bottom .blindKnock img {
	vertical-align: middle;
}
#game .players .bottom .flipHand {
	left: 278px;
	bottom: 55px;
	width: 167px;
	height: 37px;
	background-position: 0px -39px;
}
#game .players .bottom .flipHand:active {
	left: 279px;
	bottom: 54px;
}
/* cards */
#game .bottom .card div {
	background: url(/gfx/game/cards_bottom.png);
}
#game .bottom .card .back {
	background-position: 0px -516px;
}
#game .bottom .hand.active:hover {
	z-index: 10;
}
#game .bottom .hand .front {
	cursor: pointer;
}
#game .bottom .card.stack {
	bottom: 130px;
	left: 21px !important;
}
#game .bottom .card.hand {
	bottom: 0px;
}
#game .bottom .card.folded {
	bottom: 0px;
	left: 21px !important;
}

/** top **/
#game .players .top {
	top: 0px;
}
#game .players .top .cards {
	top: 4px;
	left: 368px;
}
#game .players .top .knocked {
	top: 160px;
	left: 290px;
}
#game .players .top .knocked.down {
	top: -10px;
	left: 280px;
}
#game .players .top .area {
	left: 252px;
	background-position: -297px 0px;
	width: 360px;
	height: 112px;
	top: 100px;
}
#game .players .top .area.shown {
	top: 0px;
}
#game .players .top .area .name {
	top: 8px;
	width: 118px;
}
#game .players .top .area .flag {
	top: 30px;
	width: 118px;
	left: 13px;
}
/* cards */
#game .top .card div {
	background: url(/gfx/game/cards_top.png);
}
#game .top .card .back {
	background-position: -614px 0px;
}
#game .top .card.stack {
	top: 140px;
	left: 24px !important;
}
#game .top .card.folded {
	left: 24px !important;
}

/** vertical **/
#game .players .vertical {

}
#game .players .vertical .knocked {
	top: 260px;
}
#game .players .vertical .knocked.down {
	top: 180px;
}
#game .players .vertical .area {
	width: 148px;
	height: 296px;
	top: 189px;
}
#game .players .vertical .cards {
	top: 240px;
}
#game .players .vertical .card {
	width: 169px;
	height: 127px;
}
#game .vertical .card div {
	width: 129px;
	height: 87px;
}
#game .players .vertical .card.stack {
	top: 40px !important;
}
#game .players .vertical .card.folded {
	top: 60px !important;
}
#game .players .vertical .name {
	top: 7px;
}
#game .players .vertical .flag {
	top: 30px;
}

/** left **/
#game .players .left {
	left: 0px;
}
#game .players .left .knocked {
	left: 150px;
}
#game .players .left .knocked.down {
	left: 10px;
}
#game .players .left .cards {
	left: 5px;
}
#game .players .left .area {
	left: 100px;
}
#game .players .left .area.shown {
	left: 0px;
}
#game .players .left .area .name {
	left: 8px;
}
#game .players .left .area .flag {
	left: 12px;
}
/* cards */
#game .left .card div {
	background: url(/gfx/game/cards_left.png);
}
#game .left .card.stack {
	left: 230px;
}

/** right **/
#game .players .right {
	right: 0px;
}
#game .players .right .knocked {
	right: 150px;
}
#game .players .right .knocked.down {
	right: 20px;
}
#game .players .right .cards {
	right: 6px;
}
#game .players .right .card div {
	right: 0px;
}
#game .players .right .area {
	right: 100px;
	background-position: -148px 0px;
}
#game .players .right .area.shown {
	right: 0px;
}
#game .players .right .area div {
	text-align: right;
}
#game .players .right .area .name {
	right: 8px;
}
#game .players .right .area .flag {
	right: 12px;
}
/* cards */
#game .right .card div {
	background: url(/gfx/game/cards_right.png);
}
#game .right .card .back {
	background-position: -516px -614px;
}
#game .right .card.stack {
	right: 190px;
	top: 200px;
}
#game .right .card.folded {
	right: 0px;
}
#game .right .card.hand {
	right: 0px;
}


/*** table ***/
#game .table {
	top: 20px;
	left: 28px;
	width: 808px;
	height: 620px;
	background: url(/gfx/game/table.png) no-repeat;
	z-index: 2;
}


/*** panel ***/
#panel {
	position: absolute;
	top: 170px;
	left: 30px;
	width: 100%;
	display: none;
	z-index: 10;
	-webkit-transition-property: top;
	-webkit-transition-duration: .4s;
}
#panel.down {
	top: 670px;
}
#panel div {
	position: absolute;
}
#panel .head {
	width: 100%;
	text-align: center;
	padding-top: 30px;
	font-size: 17px;
}
/* common classes */
#panel .box {
	background: url(/gfx/game/box.png) no-repeat;
	width: 513px;
	height: 311px;
}
#panel .box .space {
	color: #ffffff;
	top: 80px;
	left: 45px;
	width: 424px;
	height: 190px;
}
#panel .box .space div {
	position: relative;
}
#panel table {
	width: 100%;
	border-collapse: collapse;
}

/** chat **/
#panel .chat {
	left: 500px;
	background: url(/gfx/game/chat.png) no-repeat;
	width: 454px;
	height: 311px;
}
#panel .chat .log {
	top: 75px;
	left: 50px;
	font-size: 13px;
	height: 170px;
	width: 360px;
	overflow: auto;
}
#panel .chat .log div {
	position: relative;
	color: #999999;
}
#panel .chat .log .message {
	color: #000000;
}
#panel .chat .input {
	bottom: 30px;
	left: 44px;
}
#panel .chat .input input {
	width: 361px;
}
.chat input.inactive {
	font-style: italic;
	color: #cccccc;
}

/** strikes **/
#panel #strikes {
	display: none;
}
#panel #strikes table {
	width: 396px;
}
#panel #strikes table td {
	text-align: center;
	border-left: 2px #363636 solid;
}
#panel #strikes table td.quit {
	text-decoration: line-through;
}
#panel #strikes table td:first-child {
	border-left: none;
}
#panel #strikes .sTable table tr {
	border-top: 2px #363636 solid;
	height: 25px;
}
#panel #strikes table tr:first-child {
	border-top: none;
}
#panel #strikes table.top {
	border-bottom: 2px #363636 solid;
	font-weight: bold;
	font-size: 15px;
}
#panel #strikes .sTable {
	height: 95%;
	overflow: auto;
}
#panel #strikes .sTable.smaller {
	height: 75%;
}
#panel #strikes .actions {
	margin-top: 6px;
	display: none;
}
#panel #strikes .actions div {
	position: absolute;
}
#panel #strikes .actions .newRound {
	background-position: 0px -316px;
	width: 175px;
	height: 27px;
	cursor: pointer;
	right: 0px;
	display: none;
}
#panel #strikes .actions .waiting {
	width: 100%;
	left: 0px;
	top: 8px;
	font-size: 13px;
}
#panel #strikes .actions .waiting div {
	display: none;
}

/** overview **/
#panel #overview .space {
	font-size: 14px;
}
#panel #overview ul {
	margin: 0px;
	padding: 0px;
}
#panel #overview tr td:first-child {
	vertical-align: top;
	font-weight: bold;
}
#panel #startGame {
	margin-top: 10px;
}
#panel #startGame > div {
	display: none;
}
#panel #startGame .startBtn {
	position: absolute;
	background-position: 0px -279px;
	width: 183px;
	height: 37px;
	right: 0px;
	cursor: pointer;
}