/* main layout elements */
body {
	font-family: "DejaVu Sans", "Arial";
	margin: 0px;
}
a {
	color: #474747;
}
a:hover {
	text-decoration: none;
}
img {
	border: none;
}
p {
	margin: 12px 0px;
}

/* header */
.header {
	position: relative;
	width: 1009px;
	height: 192px;
	color: #ffffff;
	z-index: 89;
	margin: auto;
}
.header .left {
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(/gfx/header_left.png) no-repeat;
	width: 756px;
	height: 135px;
}
.header .left .claim {
	position: absolute;
	bottom: 29px;
	left: 70px;
}
.header .right {
	position: absolute;
	top: 0px;
	right: 0px;
	background: url(/gfx/header_right.png) no-repeat;
	width: 253px;
	height: 135px;
}
.header .right .userbox {
	position: absolute;
	top: 5px;
	background: url(/gfx/header_userbox.png) no-repeat;
	width: 222px;
	height: 100px;
	padding-top: 15px;
	padding-left: 18px;
	padding-right: 10px;
	font-size: 14px;
}
.header .right .userbox .credit {
	-webkit-transition-property: background;
	-webkit-transition-duration: .4s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-property: background;
	-moz-transition-duration: .4s;
	-moz-transition-timing-function: ease-out;
}
.header .right .userbox .credit.updating {
	background: #ff0000;
}
.header .shadow_left {
	position: absolute;
	left: -46px;
	background: url(/gfx/header_shadow_left.png) no-repeat;
	width: 46px;
	height: 192px;
}
.header .shadow_right {
	position: absolute;
	right: -56px;
	background: url(/gfx/header_shadow_right.png) no-repeat;
	width: 56px;
	height: 192px;
}
.header .shadow_bottom {
	position: absolute;
	top: 135px;
	width: 1009px;
	height: 57px;
	background: url(/gfx/header_shadow_bottom.png) no-repeat;
}
.header a {
	color: #ffffff;
}

/* content space */
.pspace {
	position: relative;
	width: 100%;
}
.pspace .content {
	position: relative;
	width: 1009px;
	margin: auto;
	z-index: 2;
	top: -20px;
	padding-bottom: 50px;
}
.pspace .bg {
	position: absolute;
	background: url(/gfx/bg.png) repeat-x;
	width: 100%;
	height: 1024px;
	bottom: 50px;
}
.pspace .foot {
	background: url(/gfx/bg_shadow.png) repeat-x;
	position: absolute;
	height: 50px;
	width: 100%;
	bottom: 0px;
}
.pspace .foot div {
	position: absolute;
	top: 12px;
}
.pspace .foot .copyright {
	color: #a3a3a3;
	left: 30px;
	font-size: 12px;
}

/* common classes */
.vcen {
	vertical-align: middle;
}
.hcen {
	text-align: center;
}
.hright {
	text-align: right;
}
.head {
	text-shadow: #000000 1px 1px 5px;
	color: #ffffff;
}

/* content boxes */
.box1 {
	width: 630px;
}
.box1 .head {
	height: 59px;
	background: url(/gfx/box1_head.png) no-repeat;
	padding-top: 38px;
	padding-left: 20px;
	padding-right: 25px;
	font-size: 22px;
	text-align: center;
}
.box1 .space {
	background: url(/gfx/box1_bg.png) repeat-y;
	padding: 0px 50px;
	min-height: 120px;
}
.box1 .bottom {
	background: url(/gfx/box1_bottom.png) no-repeat;
	height: 82px;
}

/* info and error bubbles */
.bubbles {
	position: absolute;
	z-index: 90;
}
.bubbles .bubble {
	position: absolute;
	visibility: hidden;
}
.bubbles .bubble.info .space {
	background: #ffffff;
	color: #000000;
}
.bubbles .bubble.error .space {
	background: #ff0000;
	color: #ffffff;
}
.bubbles .bubble .space {
	position: relative;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 0px 0px 5px 1px #767676;
	-moz-box-shadow: 0px 0px 5px 1px #767676;
	-webkit-box-shadow: 0px 0px 5px 1px #767676;
	min-height: 40px;
	min-width: 130px;
}
.bubbles .bubble .space .icon {
	position: absolute;
	top: 5px;
	left: 6px;
	width: 33px;
	height: 29px;
	background: url(/gfx/bubbles_icons.png) no-repeat;
}
.bubbles .bubble .space .text {
	white-space: nowrap;
	padding: 10px 10px 10px 10px;
}
.bubbles .bubble .space.i .text {
	margin-left: 30px;
}
.bubbles .bubble .triangle {
	border-style: solid;
	height: 0px;
	width: 0px;
	position: absolute;
	border-color: transparent;
	z-index: 91;
}
.bubbles .bubble.top .triangle {
	border-width: 15px;
	top: -30px;
}
.bubbles .bubble.bottom .triangle {
	border-width: 15px;
	bottom: -30px;
}
.bubbles .bubble.right .triangle {
	border-width: 12px;
	right: -24px;
}
.bubbles .bubble.left .triangle {
	border-width: 12px;
	left: -24px;
}
.bubbles .bubble.l .triangle {
	left: 20px;
}
.bubbles .bubble.r .triangle {
	right: 20px;
}
.bubbles .bubble.t .triangle {
	top: 8px;
}
.bubbles .bubble.b .triangle {
	bottom: 6px;
}
.bubbles .bubble.top.info .triangle {
	border-bottom-color: #ffffff;
}
.bubbles .bubble.top.error .triangle {
	border-bottom-color: #ff0000;
}
.bubbles .bubble.bottom.info .triangle {
	border-top-color: #ffffff;
}
.bubbles .bubble.bottom.error .triangle {
	border-top-color: #ff0000;
}
.bubbles .bubble.left.info .triangle {
	border-right-color: #ffffff;
}
.bubbles .bubble.left.error .triangle {
	border-right-color: #ff0000;
}
.bubbles .bubble.right.info .triangle {
	border-left-color: #ffffff;
}
.bubbles .bubble.right.error .triangle {
	border-left-color: #ff0000;
}