RewriteEngine on
RewriteRule ^games/([0-9]+)/?$ /game.php?id=$1
RewriteRule ^player/([a-zA-Z0-9._-]+)/?$ /player.php?name=$1 [QSA]
RewriteRule ^logout$ /login.php?action=logout
RewriteRule ^forgotpass$ /index.php?action=forgotpass
RewriteRule ^([a-z]+)/([a-z]+)/?$ $1.php?action=$2 [QSA]
RewriteRule ^([a-z]+)$ $1.php [QSA]
